.b-mainNav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__unit{
    text-decoration: none;
    font-family: $_headerFont;
    font-size: 1.31vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.89;
    letter-spacing: normal;
    text-align: left;
    color: $_mainTextColor;

    &:hover{
      text-decoration: underline;
      transition-duration: 0.5s;
      color: $_subColor;
    }
  }
}