.b-video{
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 4vw 5vw 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  @include media-breakpoint-down(xs) {
    justify-content: space-around;
  }
  @include media-breakpoint-down(sm) {
    justify-content: space-around;
  }
  @include media-breakpoint-down(md) {
    padding: 7vw 15vw;
  }

  &__block{
    width: 30%;
    height: auto;
    min-width: 260px;
    @include media-breakpoint-down(sm) {min-width: 300px;}

    &:focus{
      outline: none;
    }

    &_locality{
      border-radius: 2vw;
      margin: 0 auto 5vw;
    }
  }
}